/*  add your styles below
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #E0E4CC;
    color: #000; /* change */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete */
	background: #A7DBD8;
}

/* add your styles here */

header, footer {
	background: #69D2E7;
}

aside{
	background: #E0E4CC;
}

figure {
	background: #F38630;
}

/* add your pseudo classes below this line */


figure a:link {
	color: blue;
}

figure a:visited {
	color: purple;
}

figure a:hover {
	color: gold;
}

figure a:active {
	color: orange;
}

figure a:focus {
	border: 1px solid blue;
}

/* footer links */

footer a:link {
	color: white;
}

footer a:visited {
	color: purple;
}

footer a:hover {
	color: #FA6900;
}

footer a:active {
	color: orange;
}

footer a:focus {
	border: 1px solid red;
}
