/*  add your styles below
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body, aside {
    background: #265D7F; 
    color: #fff; 
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete */
	background: #004DBD;
	color: #fff;
}

header, footer {
	background: #00127F;
	color: #fff;
}

figure {
	background: #0068FF;
	color: #fff;
}

/* add your styles here */

/* add your pseudo classes below this line */

a:link {color: #FFFD00;}
a:visited {color: #969612;}
a:focus {color: #FFFF7D;}
a:hover {color: #FFFF7D;}
a:active {color: #B2B200;}

footer a:link {color: #FFFD00;}
footer a:visited {color: #CCCB00;}
footer a:focus {color: #FFFF7D;}
footer a:hover {color: #FFFF7D;}
footer a:active {color: #B2B200;}